<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="cc.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
      <section name="cc.dal" type="CC.Framework.DAL.DALSection, CC.Framework.DAL" />
      <section name="cc.framework" type="CC.Framework.FrameworkSection, CC.Framework" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SQLRAssemblyName" value="CC.ERP.BLL" />
    <add key="shardids" value=""/>
    <add key="profileids" value="290"/>
    <add key="ignoreProfileids" value="" />
    <add key="ignoreShardids" value="" />
    <add key="erpcfgs" value="{force_money:'true'}" />
    <!--地址转point，调用百度的AK-->
    <add key="address_ak" value="CAwOftjNlcvc5K12mHZKBk6zRa3HR7Ei" />
  </appSettings>
  <cc.com>
    <!--memcached 配置-->
    <memcached protocol="Binary">
      <servers>
        <add address="127.0.0.1" port="11211" />
        <!--<add address="192.168.1.8" port="11211" />
        <add address="192.168.1.107" port="11211" />
        <add address="192.168.1.105" port="11211" />
        <add address="192.168.4.8" port="11211" />
        <add address="192.168.1.103" port="11211" />-->
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
    <!--dal 配置-->
    <cc.dal allowUserVariables="true">
      <!--DBLogMonitorSeconds:数据库日志监控频率（写入频率）,单位：秒 connectionString:数据库日志连接字符串-->
      <dbLog dbLogMonitorSeconds="1" connectionString="server=127.0.0.1;database=cc_newlog;uid=root;pwd=qwert" />
      <core connMonitorSeconds="10" connectionString="server=127.0.0.1;port=3306;database=cc_global;uid=root;pwd=qwert">
        <!--<core connMonitorSeconds="10" connectionString="server=www.lk361.com;port=3309;database=test_cc_global;uid=root;pwd=asdf1234">-->
        <!--<core connMonitorSeconds="10" connectionString="server=192.168.1.8;database=cc_global;uid=root;pwd=1"> -->
        <!--ConnMonitorSeconds: 连接字符串监控的频率，单位：秒  connectionString: core 连接字符串-->
        <!--<core connMonitorSeconds="10" connectionString="server=db.laikensoft.com;database=cc_global;uid=root;pwd=asdf1234">-->
        <!--采用分片的数据库，DBName:数据库名称 ColumnName:分片字段 RouteDB:存储分区的数据库-->
        <shardDB dbName="erp" columnName="profileid" routeTable="erp_shard" />
        <!--<shardDB dbName="my" columnName="opid" routeTable="my_shard" />-->
      </core>
    </cc.dal>
    <!--framework 配置-->
    <cc.framework errorintercept="true">
      <!--<global connectionString="server=192.168.4.8;database=cc_global;uid=root;pwd=1" />-->
      <!--loginUrl : 登录url domain:域 sessionTimeout ：用户超时时间-->
      <authentication loginUrl="http://www.laikensoft.com/Account/LogOn" domain="" sessionTimeout="20" />
      <!--不需要验证登录的地址-->
      <!--<noauthfiles>
        <add value="^/error/" />
        <add value="^/R/" />
      </noauthfiles>-->
    </cc.framework>


  </cc.com>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志文件名开头-->
      <file value="logs\log.txt" />
      <!--是否追加到文件-->
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <!--<level value="off" />-->
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender" />
    </root>

    <logger name="LogConsoleAppender">
      <appender-ref ref="LogConsoleAppender" ></appender-ref>
    </logger>
    <appender name="LogConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>